accelerate @ git+https://github.com/huggingface/accelerate.git@fb77442677c85f6ebcd7a226588f60046cd6b301
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.0
brotli==1.2.0
click==8.4.1
colorama==0.4.6
diffusers==0.38.0
exceptiongroup==1.3.1
fastapi==0.138.0
fsspec==2026.6.0
gradio==6.19.0
gradio_client==2.5.0
groovy==0.1.2
h11==0.16.0
hf-gradio==0.4.1
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.20.1
importlib_metadata==9.0.0
invisible-watermark==0.2.0
markdown-it-py==4.2.0
mdurl==0.1.2
mkl-service==2.4.0
opencv-python==4.13.0.92
orjson==3.11.9
packaging==26.0
pandas==2.3.3
psutil==7.2.2
pydantic==2.13.4
pydantic_core==2.46.4
pydub==0.25.1
Pygments==2.20.0
pyrefly==1.1.1
python-dateutil==2.9.0.post0
python-multipart==0.0.32
pytz==2026.2
PyWavelets==1.8.0
regex==2026.5.9
rich==15.0.0
safehttpx==0.1.7
safetensors==0.8.0
semantic-version==2.10.0
shellingham==1.5.4
six==1.17.0
starlette==1.3.1
sympy==1.13.1
tokenizers==0.22.2
tomlkit==0.14.0
torch==2.12.1
torchaudio==2.5.1+cu124
torchvision==0.20.1+cu124
tqdm==4.68.3
transformers==5.12.1
typer==0.25.1
typing-inspection==0.4.2
tzdata==2026.2
uvicorn==0.49.0
zipp==4.1.0
